/* Desktop layout */
@media (min-width: 901px) {
  /* Home page */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-template-areas:
      "hd hd hd"
      "main main main"
      "ft ft ft";
    gap: 30px;
  }

  .menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px;
    width: 100%;
  }

  .item {
    position: relative;
    display: block;
    width: auto;
  }

  .home-link {
    right: 5%;
  }

  main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .article-card {
    width: 30%;
  }

  /* Blog post page */
  .grid-container-post {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-template-areas:
      "hd   hd   hd"
      "main main main"
      "ft   ft   ft";
    gap: 20px;
  }

  .nested-grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: min-content;
    grid-template-areas: "article aside";
    gap: 5px;
    color: #ffffff;
  }

  .blog-article {
    grid-area: article;
    height: 100%;
    width: 100%;
  }

  .blog-aside {
    grid-area: aside;
    height: 100%;
    width: 100%;
    border-left: 2px inset #ffffff;
  }
}
