/* Mobile layout */
@media (max-width: 599px) {
  @media (max-width: 320px) {
    .label-email {
      /* Hiding the label because it was not fitting is small mobile screen */
      /* Hiding this way for accessibility reasons (screen reader) */  
      border: 0;
      clip-path: rect(1px, 1px, 1px, 1px);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "hd"
      "main"
      "ft";
    gap: 30px;
  }

  .menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 20px;
  }
}
