/* Importing responsive layouts */
@import "./phone.css" (max-width: 599px);
@import "./tablet.css" (min-width: 600px) and (max-width: 900px);
@import "./desktop.css" (min-width: 901px);

/* Universal code */
html {
  font-family: "Indie Flower", cursive;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #1f2932;
}

body {
  padding: 0px;
  margin: 0px;
}

nav {
  background: #11161a;
  padding: 0 15px;
  grid-area: hd;
}

nav > ul > li > a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 2px;
  width: 100%;
  display: block;
  padding: 15px 5px;
}

nav > ul > li > a:hover {
  color: #ccc;
}

.logo {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 6px 10px 0px 0;
}

.item {
  padding: 0px 10px;
}

footer {
  grid-area: ft;
  background-color: #2e3d49;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
}

footer > h2 {
  text-align: center;
}

.label-email {
  letter-spacing: 0px;
}

/* Home page */
.article-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  transition: 0.3s;
  background-color: #c8cdd2;
  text-align: center;
}

.blog-img {
  width: 100%;
  border-radius: 25px;
}

article > a {
  text-decoration: none;
}

.post-title {
  color: #657482;
}

.blog-txt {
  color: #242a2f;
}

/* 'About' page */
.about-main {
  display: inline-block;
  color: #b4b9bd;
  margin: 0 10px;
  text-align: center;
}

.hdn-center {
  color: #ffffff;
}

.about-ls {
  display: inline-block;
}

.about-link {
  color: #53cbed;
}
