/* Tablet layout */
@media (min-width: 600px) and (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-template-areas:
      "hd hd"
      "main main"
      "ft ft";
    gap: 30px;
  }
  .menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 20px;
    align-items: center;
    justify-content: space-between;
  }

  .article-card {
    width: 45%;
  }

  /* Blog post page */
  .grid-container-post {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "hd"
      "main"
      "main"
      "main"
      "ft";
    gap: 20px;
  }
  .nested-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "aside"
      "article"
      "article"
      "article";
    gap: 5px;
    color: #ffffff;
  }

  .blog-aside {
    grid-area: aside;
    border: 0px;
  }

  .blog-article {
    grid-area: article;
    width: 100%;
    text-align: justify;
  }
}
